body {

background-image: linear-gradient(180deg, #ffd369, #f5d782);
color: white;
font-size: 45px;
text-align: center;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
padding: 15px;
margin: 15px;

}

button {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.footerfoot {
  font-size: 15px;
  color: gray;
  font-weight: normal;
}
